<ion-header>

  <ion-navbar>
    <ion-title text-center>Geziyi Keşfet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-list id="listItem">
    <button (click)="expandItem(item)" ion-item text-wrap *ngFor="let item of items">
      <h2 text-center *ngIf="pnr != item.PNR_no">{{ item.name }}</h2>
      <expandable [expanded]="item.expanded">
        <p *ngIf="pnr != item.PNR_no">{{ item.description}}</p>
      </expandable>
      <button ion-button clear item-end>{{ item.beingViewed }}</button>
    </button>
  </ion-list>

</ion-content>