expandable {

  .expand-me{
    transition: 0.5s linear;
    
  }
  
  .expand-wrapper p {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

  }
  

  .expanded {
    //height: 200px !important;
    height: 0;
  }

 
}
